http://localhost:8001 {
    handle_path /static/* {
        root /app/staticfiles
        file_server
    }
    handle /api/* {
        reverse_proxy server:8000 {
            header_up X-Forwarded-Proto {scheme}
        }
    }
}